doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="format-detection" content="telephone=no")
        meta(name='description' content='')
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1")
        title Главная
        link(rel='icon' href='' type='')
        link(href="https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,600,700" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet' href='css/style.css')
        
    body.loaded

        // BEGIN BODY
        .main-wrapper

            // BEGIN CONTENT
            main.content 
                // PRODUCT SECTION
                include parts/product

            // BEGIN HEADER

            header        
             

            // BEGIN FOOTER  
            footer

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src='js/components/cusel-min-2.5.js')    
        script(src='js/components/jquery.mousewheel.js')
        script(src='js/components/jquery.jscrollpane.min.js')    
        script(src='js/components/slick.js')
        script(src='js/custom.js')

