
// Product page

.product {
    padding: 20px 0px 
}

.product .container-mod {
    @media (min-width: 1280px) { 
        max-width: 1200px; 
    } 
}

.product-ttl {
    font: 30px/1.2 $ff-comf;
    margin: 20px 0px 40px;
    letter-spacing: -1.5px;
    text-align: center;
    @media (min-width: $screen-sm) {
        text-align: left;
    }
}

.product-box {
    padding: 15px 0px;
    @media (min-width: $screen-sm) {
        padding-top: 0px;
    }
}

.product-box div[class*="col"] {
    margin-bottom: 10px;
    @media (min-width: $screen-md) {
        margin-bottom: 0px;
    }
}

.product-item {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 6px;
    height: 100%;
    border: 1px solid $gray;
    padding-bottom: 19px;
    background-color: $white;
    &:hover {
        transition: $transition;
        border: 1px solid #d2edf4;
        box-shadow: 0px 5px 11px -2px $base ;
        .product-name {
            transition: $transition;
            color: $base;
        }
    }
}

.product-item img {
    width: 100%;
}

.product-badge {
    padding: 6px 5px;
    position: absolute;
    top: 10px;
    left: 13px;
    background: $orange;
    border-radius: 4px;
    font: 600 11px $ff-base;
    text-transform: uppercase;
    color: $white;
}

.product-badge-new {
    background: $base;
}


.product-name {
    font-size: 13px;
    color: $black;
    text-align: center;
    @media(min-width: 1199px){
        font-size: 15px;
    }
}

.product-price {
    font: bold 15px sans-serif;
    color: $black;
    text-align: center;
    &:before {
        content: "";
        display: block;
        width: 30%;
        margin: 18px auto 20px;
        border: 1px solid $gray;
    }
}

.rating {
    position: relative;
    width: 87px;
    height: 15px;
    margin: 20px auto 19px;
    list-style-type: none;
}

.rating-icon {
    float: left;
    height: 15px;
    font-size: 16px;
    margin-right: 3px;
    color: $gray / 1.2;
    &:last-child {
        margin-right: 0px;
    }
}

.checked:before {
    content: '\f005'!important;
    color: $orange;
}

//  Section with slider

.product-similar{
    padding-top: 16px;
}

.product-similar-ttl {
    font: 15px/1.2 sans-serif;
    text-transform: uppercase;
    margin: 11px 0px;
}

.product-slide div[class*="col"] {
    max-width: none!important;
    height: 100%!important;
    display: block!important;
    
}

.product-slide .slick-list {
    padding: 7px 0px 10px;
}

.slick-controls {
    text-align: center;
    padding: 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-controls .slick-arrow {
    transform: translate(0, 0);
    display: inline-block;
    position: static;
    width: 39px;
    height: 39px;
    background: $gray;
    border: 1px solid #cccccc;
    border-radius: 50%;
    margin: 0px 15px;
    &:before{
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-left: 2px solid $base;
        border-bottom: 2px solid $base;
    }

}

.slick-controls .slick-prev:before {
    transform: rotate(45deg);
}

.slick-controls .slick-next {
    order: 1;
    &:before {
        transform: rotate(-140deg);
    }
} 

.slick-controls .slick-dots {
    position: static;
    display: inline-block;
    width: auto;
}

.slick-controls .slick-dots li {
    width: 5px;
    height: 5px;  
}

.slick-controls .slick-dots li button {
    width: 5px;
    height: 5px;
    padding: 8px;
    &:hover {
        &:before{
            transition: $transition;
            background: $gray / 1.2;
        }
    }
}

.slick-controls .slick-dots li button::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $black;
}

.slick-controls .slick-dots li.slick-active button:before { 
    background: #e44256;
}

//  Filtration section 

.filter{
    border: 1px solid $gray / 1.2;
    border-radius: 3px;
    background-color: $gray * 1.033;
}

.filter-arrow {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        top: 12px;
        right: 17px;
        z-index: 99;
        border-left: 1.5px solid $gray / 1.3 ;
        border-bottom: 1.5px solid $gray / 1.3 ;
        transform: rotate(-45deg);
        transition: $transition;
    }
}

.filter-arrow--up:before {
    transition: $transition;
    top: 17px;
    transform: rotate(-225deg);
}

.filter-trigger {
    display: block;
    padding: 9px 18px;
    color: $black;
    font: bold 14px/19px  $ff-arial;
    border-bottom: 1px solid $gray / 1.2;
    &:hover {
        transition: $transition;
        color: $base;
    }
}

.filter-catigories--list{
    list-style-type: none;
    display: none;
    padding: 10px 0px;
    border-bottom: 1px solid $gray / 1.2;
}

.filter-catigories--list li {
    display: block;
    padding: 10px 20px;
    color: $black;
    font-size: 14px;
    &:hover {
        cursor: pointer;
        transition: $transition;
        background: rgb(210, 237, 244);
    }
}

.filter-size, .filter-color  {
    border-bottom: 1px solid $gray / 1.2;
    display: flex;
    justify-content: space-between;
    padding: 5px 6px 4px 18px;
}

.filter-size > .filter-arrow:before, .filter-color > .filter-arrow:before {
    right: 11px;
    top: 9px;
}

.filter-size h3, .filter-color h3 {
    font: bold 14px/31px $ff-arial;
    margin-right: 10px;
}

.filter-select {
    width: 160px;
}

.filter-material-box {
    padding-top: 7px;
    display: none;
    border-bottom: 1px solid $gray / 1.2;
}

.filter-select--meterial {
    padding: 10px 0px;
    height: 173px;
    display: block;
    overflow: auto!important;
}

.filter-select--meterial li {
    display: block;
    padding: 5px 20px;
    color: $black;
    font: 13px/14px $ff-arial;
    list-style-type: none;
    &:hover {
        cursor: pointer;
        background: #d2edf4;
    }
    @media (min-width: $screen-md) {
        padding: 7px 30px;

    }
}

.filter-active {
    color: $base!important;
    font-weight: 600!important;
}

.filter-btn {
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    text-align: center;
    outline: none;
    font: 13px $ff-arial;
    padding: 12px 0px;
    color: $base;
    &:hover {
        transition: $transition;
        background-color: $base;
        color: $white;
    }
}